---
 const personalImageAlt = "Akshat Shah"
---
---
const trackingId = "G-4V7C4PDYQC";
---
<head>
  <script async src={`https://www.googletagmanager.com/gtag/js?id=${trackingId}`} set:html></script>
  <script set:html>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{trackingId}');
  </script>
</head>

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    I’m Akshat Divyang Shah, a passionate software engineer and a driven computer science graduate student at the <strong>University of Southern California(USC)</strong>. With a strong foundation in programming and a knack for creating innovative solutions, I thrive in challenging environments where I can push the boundaries of technology. My expertise spans across developing impactful <strong> mobile applications, web platforms, and machine learning-driven projects</strong>, with scalability and performance optimization as my guiding principles. </p>
 <p>
    During my journey, I’ve had the privilege of interning at <strong>Microsoft</strong>, where I developed Power Automate solutions and dashboards to monitor online product performance. My most challenging project, <strong>UniSphere</strong>, a cross-platform mobile app to enhance campus engagement, demonstrates my ability to manage <strong>large-scale applications</strong>. Additionally, I’ve explored diverse areas like data visualization, blockchain technology, and financial markets, enriching my technical and analytical skills. </p>
 <p>
    Beyond academics and work, I am deeply committed to sharing knowledge. As a tutor to over 20 students, a social media strategist, and a food content creator behind <strong><a href="https://instagram.com/thegajabfoodie" target="_blank" rel="noopener noreferrer">thegajabfoodie</a></strong>, I combine technical expertise with creativity and communication. I also actively engage in crypto trends and decentralized finance discussions, aiming to contribute meaningfully to emerging tech ecosystems. At USC, I am excited to explore cutting-edge courses in Web Technologies and Natural Language Processing, ensuring continuous growth in my learning. </p>
 <p>
    Let’s connect and create technologies that make a difference!
 </p>
  </div>

  <img width="200" height="200" src="/akshat.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiences web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experience desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experience al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiences. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
