---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  // {
  //   date: "Septiembre 2022",
  //   title: "Principal Frontend Engineer",
  //   company: "Adevinta Spain",
  //   description:
  //     "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  // },

{
  title: "Teaching Assistant",
  company: "USC Viterbi K-12 STEM Center",
  description: `- Collaborated with Dr. Darin Gray to support the “Discover Engineering” course, a 4-week, 3-unit college-level program introducing high school students to various engineering disciplines through lectures and hands-on projects.
                - Designed and developed comprehensive instructional materials, including class presentations, detailed notes, weekly overviews, and structured activity plans, ensuring alignment with the course’s interdisciplinary objectives.`,
  date: "Apr 2025 - Present"
},
{
  title: "Research Assistant",
  company: "Integrated Media Systems Center (IMSC) @ USC",
  description: `- Developed a Crowdsourced Data Collection Platform: Collaborated on the design and implementation of an interactive “POI Game” to gather training data for machine learning models. The platform presents users with timestamped latitude/longitude points, prompting them to identify the most likely visited Point of Interest (POI), thereby creating a labeled dataset for POI attribution tasks.
                - Collaborated with Leading Experts: Worked under the guidance of Dr. John Krumm, Associate Director at IMSC and a renowned researcher in location data privacy and mobility analysis. Engaged in interdisciplinary discussions to align technical developments with real-world applications.`,
  date: "Mar 2025 - Present"
},
{
  title: "Student Worker",
  company: "USC Auxiliary Services",
  description: `- Assisted hundreds of students, faculty, and visitors at the USC Bookstore by providing tailored product recommendations, enhancing their customer experience through attentive and efficient service.
                - Served as a front-line greeter during peak hours, helping manage store flow and offering first-touch support to new and returning customers.
                - Handled invoicing and point-of-sale operations, sharpening communication, accuracy, and multitasking skills in a fast-paced retail environment.`,
  date: "Dec 2024 - Mar 2025"
},
{
    date: "June 2023 - July 2023",
    title: "Software Engineer Intern",
    company: "Microsoft Corporation , Hyderabad, India",
    description:
      "During my internship at Microsoft, I contributed to the ODSP (OneDrive and SharePoint) team, focusing on enhancing operational efficiency and monitoring systems. A key achievement was the development of interactive dashboards to track the online performance of Microsoft’s products. These dashboards provided real-time insights, empowering the team to make informed decisions and address performance bottlenecks effectively.I also spearheaded the creation of a Power Automate tool that generated automated alerts whenever key processes, such as loaders, exceeded their expected execution times. This tool streamlined incident response, minimized delays, and optimized system reliability.By leveraging technologies in data visualization and workflow automation, I improved existing workflows and contributed to maintaining high standards of product performance. This experience honed my skills in data-driven problem solving, process optimization, and collaborating in a dynamic, technology-driven environment.",
  }
]
---


<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
