---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "June 2023 - July 2023",
    title: "Software Engineer Intern",
    company: "Microsoft Corporation , Hyderabad, India",
    description:
      "During my internship at Microsoft, I contributed to the ODSP (OneDrive and SharePoint) team, focusing on enhancing operational efficiency and monitoring systems. A key achievement was the development of interactive dashboards to track the online performance of Microsoft’s products. These dashboards provided real-time insights, empowering the team to make informed decisions and address performance bottlenecks effectively.I also spearheaded the creation of a Power Automate tool that generated automated alerts whenever key processes, such as loaders, exceeded their expected execution times. This tool streamlined incident response, minimized delays, and optimized system reliability.By leveraging technologies in data visualization and workflow automation, I improved existing workflows and contributed to maintaining high standards of product performance. This experience honed my skills in data-driven problem solving, process optimization, and collaborating in a dynamic, technology-driven environment.",
  },
  // {
  //   date: "Septiembre 2022",
  //   title: "Principal Frontend Engineer",
  //   company: "Adevinta Spain",
  //   description:
  //     "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  // },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
